/* ========================================================== Sidebar ========================================================== */
.sidebar {
    display: flex;
    flex-direction: column; 
    width: 200px; 
    gap: 5px;   
    position: fixed;
    left: -240px;
    top: 50px; 
    
    /* 1. Only keep ONE transition line */
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1); 
    
    /* 2. Initial state (Hidden) */
    visibility: hidden; 
    opacity: 0;
    
    max-height: calc(105vh - 80px); 
    overflow-y: auto; 
    overflow-x: hidden;
    margin-left: 15px;               
    padding: 20px 10px;               
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
    border-radius: 24px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: none;
}

/* 3. The Active State - must turn visibility and opacity back on! */
.sidebar.active {
    left: 5px;
    visibility: visible;
    opacity: 1;
}

/* Hide scrollbar for Chrome/Safari while keeping scroll active */
.sidebar::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}
.sidebar a {
    text-decoration: none;  
    color: #CBD5E1;            
    padding: 10px 15px;     
    font-size: 16px;
    border-radius: 5px;     
    transition: 0.2s;       
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.15); 
    padding-left: 20px;        
    color: white;
    font-weight: bold;
}

.following{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.line1{
    width: 180px;
    background-color: rgba(255, 255, 255, 0.1);
}

.home, 
.history:hover{
    font-weight: bold;
}

#more-following{
    display: flex;
    flex-direction: column;
}
#more-following p{
    color: #CBD5E1;
    font-size: 16px;
    text-decoration: none;            
    padding: 10px 15px;     
    border-radius: 5px;     
    transition: 0.2s; 
    margin: 0px;
}

#more-following p:hover{
    background-color: rgba(255, 255, 255, 0.15); 
    padding-left: 20px;        
    color: white;
    font-weight: bold;
}