
.cover-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: relative;
}

/*Left side*/
.search-button{
    height: 12.5px;
}

.search-bar {
    display: flex;
    align-items: center;   
    gap: 8px;             
    cursor: pointer;
}

/*Middle*/
.name-page{
    display: flex;
    gap: 5px;
    position: absolute; 
    left: 50%;
    transform: translateX(-45%);
}
.name-page span{
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}
 .global{
    letter-spacing: 3px;
 }

/*Right Side*/

.register-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    height: 32px; 
}
.sign-in-button{
    color: black;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    height: 32px; 
}
.button-name{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(211, 211, 211);
}
.button-name button{
    border: none;
    background:none;
    transition: 0.3s ease;
    padding: 10px;
    font-size: 10px;
    font-size: 15px;
    
}
.button-name button:hover{
    background-color: lightgray;
    font-weight: bold;
    
}
.sidebar{
    background-color: white;
    position: fixed;
    bottom: 10px;
    left: 8px;
    top: 101px;
    width: 160px;
    padding-bottom: 100px;
}
.sidebar-link{
    cursor: pointer;

    height: 92px;
   
   
}
.sidebar-link:hover{
    background-color: lightgray;

}
