
.cover-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: relative;
}

/*Left side*/
.search-button{
    height: 12.5px;
}

.search-bar {
    display: flex;
    align-items: center;   
    gap: 8px;             
    cursor: pointer;
}

/*Middle*/
.name-page{
    display: flex;
    gap: 5px;
    position: absolute; 
    left: 50%;
    transform: translateX(-45%);
}
.name-page span{
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}
 .global{
    letter-spacing: 3px;
 }

/*Right Side*/

.register-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    height: 32px; 
}
.sign-in-button{
    color: black;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    height: 32px; 
}
.button-name{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(211, 211, 211);
}
.button-name button{
    border: none;
    background:none;
    transition: 0.3s ease;
    padding: 10px;
    font-size: 10px;
    font-size: 15px;
    
}
.button-name button:hover{
    background-color: lightgray;
    font-weight: bold;
    
}
.sidebar {
    display: flex;
    flex-direction: column; 
    width: 200px;           
    padding: 20px;
    gap: 5px;   
    
}

.sidebar a {
    text-decoration: none;  
    color: #333;            
    padding: 10px 15px;     
    font-size: 16px;
    border-radius: 5px;     
    transition: 0.2s;       
}

.sidebar a:hover {
    background-color: #f0f0f0; 
    padding-left: 20px;        
    color: black;
}
.line1{
    width: 200px;
    background-color: lightgray;
}




