*{
   font-family: "Times New Roman", Times, serif;
}

body{
    background-color: lightgray;
    z-index: 1;
    margin: 0px;
}

.cover-top,
.button-name,
.sidebar{
    background-color: #003366;
    z-index: 2;
}
/*                                                                     Cover All Top                                   */
.cover-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: relative;  
    z-index: 999;
    
}

/*                                                                      Left side                                       */

.search-bar {
    display: flex;
    align-items: center;   
    gap: 8px;             
    cursor: pointer;
    color: white;
}

/*                                                                      Middle                                           */
.name-page{
    display: flex;
    gap: 5px;
    position: absolute; 
    left: 50%;
    transform: translateX(-45%);
}
.name-page span{
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
    color: white;
}
 .global{
    letter-spacing: 3px;
 }

/*                                                                       Right Side                                        */

.register-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    height: 32px; 
}
.sign-in-button{
    color: black;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    height: 32px; 
}

.button-name{
    display: flex;
    justify-content: center;
    
}
.button-name button{
    border: none;
    background:none;
    transition: 0.3s ease;
    padding: 10px;
    font-size: 15px;
    color: #003366;
    font-weight: bold;
    color: white;
    
}
.button-name button:hover{
    background-color: lightgray;
    font-weight: bold;
    color: #003366;
    background-color: white;
}

/*                                                                          Side bar                                                */
.sidebar {
    display: flex;
    flex-direction: column; 
    width: 200px;    
    gap: 5px;   
    position: fixed;
    left: -250px;
    top: 60px;                       /* start below header */
    height: calc(100vh - 60px);     /* full height minus header */
    overflow-y: auto;               /* enable scroll */
    transition: 0.3s ease;
    
}
.Following{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar.active{
    left: 0;
}

.sidebar a {
    text-decoration: none;  
    color: white;            
    padding: 10px 15px;     
    font-size: 16px;
    border-radius: 5px;     
    transition: 0.2s;       
}

.sidebar a:hover {
    background-color: white; 
    padding-left: 20px;        
    color: #003366;
    font-weight: bold;
}

.following{
    color: white;
    
}

.line1{
    width: 200px;
    background-color: lightgray;
}

.home, 
.history:hover{
    font-weight: bold;
}



#more-following p{
    color: white;
    font-size: 16px;
    text-decoration: none;  
    color: white;            
    padding: 10px 15px;     
    border-radius: 5px;     
    transition: 0.2s; 
    margin: 0px;
}

#more-following p:hover{
    background-color: white; 
    padding-left: 20px;        
    color: #003366;
    font-weight: bold;
}

#show-more-btn{
    font-size: 12px;
}
